/* src/index.css */
@import "./styles/theme.css";
@import './styles/globals.css';
@import './styles/variables.css';
@import './styles/animations.css';
@utility transition-base {
  transition: var(--transition-base);
}

/* global styles */


* {
  @apply transition-base;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-lg hover:bg-slate-400;
}